<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.sakanal.cma.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

<!--    <mvc:view-controller path="/main" view-name="system/main"/>-->
    <mvc:view-controller path="/success" view-name="success"/>
    <mvc:view-controller path="/lose" view-name="lose"/>
<!--    <mvc:view-controller path="/studentList" view-name="student/studentList"/>-->

    <!--开启mvc的注解驱动，在使用view-controller后控制器中的请求映射就可以使用-->
    <mvc:annotation-driven/>
    <!--正确处理静态资源-->
    <mvc:default-servlet-handler/>
    <!--配置拦截器-->
    <mvc:interceptors>
<!--        <bean class="com.sakanal.cma.interceptors.SystemInterceptor"/>-->
        <mvc:interceptor>
            <mvc:mapping path="/system/main"/>
            <bean class="com.sakanal.cma.interceptors.SystemInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>